*{
    font-family: "Trirong", serif;
    margin: 0;
}
.header-main{
    background-color: rgb(248, 225, 193);
}
.header{
    display: flex;
    justify-content: space-between;
}
.header-title{
    font-weight: 700;
    font-size: 20px;
    margin-left:120px ;
    margin-top: 20px;
}  
.header-bar{
    margin-right:120px ;
    margin-top: 27px;
    font-size: 14px;
}
nav a{
    text-decoration: none;
    padding: 10px;
}
.sec-1{
    text-align: center;
}

.paragraph{
    font-size:10px;
    margin-bottom: 10px;
}
.div-1{
    margin-left: 430px;
    margin-right: 430px;
    margin-top: 50px;
}
.btn{
    background-color:#FF900E;
    border: 0;
    border-radius: 4px;
    height: 30px;
    width: 110px;
    font-weight: 600;
    color: white;
    font-size: 15px;
    margin-bottom: 25px;
}
.div-1-2 img{
    margin-left: 120px;
    margin-right: 115px;
    height: 500px;
    width:1100px;
    margin-bottom: 20px;
}
 
.sec-2{
    display: flex;
    gap: 50px;
    justify-items: center;
    justify-content:center;
}  
.div-2{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
    margin-top:30px;
    margin-left: 120px;
    
}
.div-2 img{
    height: 180px;
    width: 180px;
    
}
.dic-2-2{
    margin-top: 140px;
    margin-right: 115px;
    height: 90px;
    width: 300px;
}
.dic-2-2 h3{
    font-size: 30px;
    width: 700;
    color: #FF900E;
}
