*{
    font-family: "Trirong", serif;
    margin:0;
}
.header-main{
    background-color: rgb(248, 225, 193);
}
.header{
    display: flex;
    justify-content: space-between;
}
.header-title{
    font-weight: 700;
    font-size: 20px;
    margin-left:120px ;
    margin-top: 20px;
}  
.header-bar{
    margin-right:120px ;
    margin-top: 27px;
    font-size: 12px;
}
nav a{
    text-decoration: none;
    padding: 10px;
    font-weight: 700;
    color: black;
}
.sec-1{
    text-align: center;
    
}

.paragraph{
    font-size:10px;
    margin-bottom: 10px;
}
.div-1{
    margin-left: 430px;
    margin-right: 430px;
    margin-top: 50px;
}
.btn{
    background-color:#FF900E;
    border: 0;
    border-radius: 4px;
    height: 30px;
    width: 110px;
    font-weight: 600;
    color: white;
    font-size: 15px;
    margin-bottom: 25px;
}
.div-1-2 img{
    
    height: 500px;
    width:800px;
    margin-bottom: 20px;
    
}
 
.sec-2{
    display: flex;
    gap: 50px;
    justify-items: center;
    justify-content:center;
    
}  
.div-2{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
    margin-top:30px;
    margin-left: 120px;
    
}
.div-2 img{
    height: 180px;
    width: 180px;
    
}
.dic-2-2{
    margin-top: 140px;
    margin-right: 115px;
    height: 90px;
    width: 300px;
}
.dic-2-2 h3{
    font-size:25px;
    width: 700;
    color: #FF900E;
}
.sec-3{
    display: flex;
    gap:30px ;
    margin-top:50px;
    justify-items: center;
    justify-content:center;
    
}
.box{
    margin-left: 120px;
    height: 600px;
    width: 330px;
}
.fa-solid {
    color:#FF900E;
}
.sec-3-2{
    margin-right: 120px;
    background-image: url(../images/architect.png);
    width: 600px;
    height: 550px;
}    
.inline-box{
    padding: 5px;
    background-color: rgba(247, 248, 244, 0.37);
    gap: 5px;
    box-shadow: 0px 4px 30px rgba(150, 148, 148, 0.06);
}
.btn-10{
    top: 800px;
    border: 0;
    background-color: #FF900E;
    color: white;
    font-size: 20;
    font-weight:700;
    height:60px;
    width: 100px;
    margin-top: 510px;
   
}
.sec-4{
    margin-left: 120px;
    margin-top: 20px;
    width: 350px;
   
    
}

.box1234{
    margin-top: 50px;
    display:flex ;
    gap: 30px;
    margin-left: 120px;
    margin-right: 120px;
    justify-content: space-between;
}
.box4{
    text-align: center;
    border: 1px solid #FF900E;
    height: 120px;
    width: 150px;
    padding:10px;
}
.sec-6{
    margin-top: 50px;
    text-align: center;
   
}
.sponsers{
    display: flex;
    margin-left: 120px;
    margin-top: 60px;
    margin-right: 120px;
    justify-content: space-between;
}
.footer-8{
    margin-top: 40px;
    margin-bottom: 60px;
    
    
}
.footer{
    font-size: 18px;
    margin-left: 120px;
    margin-right: 120px;
    background-color:  rgb(248, 225, 193);
    border: 0;
    border-radius: 4px;
    text-align: center;  
    
}
@keyframes sliding{
    0%{
        background-color: rgb(11, 233, 177);
        left: 0;
        top: 0;
        transform: scale(1);
    
    }
    25%{
        top: 50px;
        background-color: rgb(248, 7, 59);
        transform: scale(0.5);
    }
    50%{
        top: 0;
        background-color: khaki;
        transform: scale(1);
    }
    75%{
        top:50px;
        background-color: sienna;
        transform: scale(0.5);
    }
    100%{
        background-color: rgb(233, 236, 8);
        left: 300px;
        top: 0;
        transform: scale(1);
    }
}
.animition{
    width: 350px;
    height: 100px;
    background-color: rgb(250, 245, 246);
    border: 1px solid rgb(252, 173, 3);
    margin-left: 120px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.present{
    height: 50px;
    position: relative;
    width: 50px;
    background-color: azure;
    border-radius: 50%;
    animation: sliding 3s ease-in-out 0.5s infinite alternate ;
    animation-play-state: running;
}
.bonus{
    display: flex;
    gap:25px;
}
.history-title{
    text-align: center;
}
.point{
    margin-left: 120px;
    width: 350px;
}
.short-text{
    white-space: nowrap;
    text-overflow: ellipsis;
}
.point p{
    font-weight: 600;
    font-size:17px;
}
.bonus-2{
    width:500px;
    height: 125px;
    border: 1px solid rgb(252, 173, 3);
    overflow: scroll;
    width: 660px;
    height: 200px;
    margin-top: 30px;
}
.bonus-2 p{
    padding: 8px;
}
@media screen and (max-width:576px) {
    .header{
        flex-direction: column;
        margin: 0;
    }
    .div-1{
        flex-direction: column;
        margin: 0;
    }
    .div-1-2 img{
        flex-direction: column;
        margin: 0;
        height:300px;
        width:300px;
    }
    .sec-2{
        display: grid;
        grid-template-columns: repeat(1.1fr);
        margin-top: 20px;
    }
    .div-2{
        display:grid;
        grid-template-columns: repeat(1,1fr);
        margin: 0;
    }
    .dic-2-2{
        flex-direction: column;
        margin: 0;
    }
    .sec-3{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 20px;
    }
    .box{
        margin: 0;
        margin-top: 70px;
    }
    .sec-3-2 img{
        height: 300px;
        width: 200px;
    }
    .bonus{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    
    }
    .animition {
        margin-left:10px;
        width: 350px;
    }
    .point{
        margin-left: 10px;
    }
    .bonus-2{
        width: 350px;
        margin-left: 10px;
    }
    .sec-4{
        margin-left: 10px;
    }
    .box1234{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        justify-items: center;

    }
    .sponsers{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 350px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .footer{
        text-align: center;
        width: 350px;
        margin-left: 10px;
    }
}
@media screen (min-width:577px) {
    .row{
        height: 400px;
    }
    
}